@mixin box-shadow($top, $left, $blur, $spread, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: $top $left $blur $spread $color inset;
    -moz-box-shadow: $top $left $blur $spread $color inset;
    box-shadow: $top $left $blur $spread $color inset;
  } @else {
    -webkit-box-shadow: $top $left $blur $spread $color;
    -moz-box-shadow: $top $left $blur $spread $color;
    box-shadow: $top $left $blur $spread $color;
  }
}

@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

%hoverable-card {
  @include transition(0.3s);
  @include transform(translate(0px, -15px));
  @include box-shadow(0px, 0px, 5px, 1px, black);
  cursor: pointer;
}

body {
  background: #0e8b44
    url("../content/images/green_felt.jpg") no-repeat
    center center fixed;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}
.score {
  margin-right: 10px;
}

.rules {
  font-family: "Almendra", serif;
  background-color: #f8f5de;
  background-image: linear-gradient(
    to right,
    rgba(255, 210, 0, 0.4),
    rgba(200, 160, 0, 0.1) 11%,
    rgba(0, 0, 0, 0) 35%,
    rgba(200, 160, 0, 0.1) 65%
  );
  opacity: 100;
  text-align: justify;
  text-justify: inter-word;
  font-family: "Almendra", serif;
  z-index: 99999;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
  max-height: 95%;
  overflow: auto;
  max-width: 800px;
  padding: 10px;
  @include rounded(10px);
  min-width: 80%;
  h1 {
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
  }

  p,
  span,
  h2,
  h4,
  ul {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
    display: block;
    text-align: justify;
    text-justify: inter-word;
    padding-bottom: 10px;
  }

  p {
    font-size: 12px;
  }

  i {
    @include rounded(5px);
    cursor: pointer;
    display: block;
    float: right;
    font-style: normal;
    font-family: arial, sans-serif;
    color: #999;
    background-color: #333;
    padding: 4px 10px;
    margin: 5px 6px 10px;
    line-height: 1em;
  }
}

.global-stats {
  margin-left: 20px;
}

.score-board {
  min-height: 7rem;
  position: relative;
  background: rgba(0, 0, 0, 0.15);
  margin: 1.5em 20% 0.5em 20%;
  padding: 1em;
  line-height: 1;
  color: #fff;
  font-size: 14px;

  label {
    font-weight: 700;
    margin-bottom: 0;
  }

  > * {
    display: inline-block;

    &:last-child,
    &:nth-last-child(2) {
      float: right;
      text-align: left;
    }
    &:first-child {
      margin-right: 5px;
    }
  }

  .message {
    margin-left: 20px;
    display: none;
  }
}

.card {
  height: 170px;
  width: 120px;
  background-size: 120px 170px;
  background-repeat: no-repeat;
  transition: 0.1s ease-in-out;
  border-radius: 7px;
  @include box-shadow(0px, 0px, 20px, 3px, rgba(48, 48, 48, 0.15));
}

.available {
  &:hover {
    @extend %hoverable-card;
  }
  @include box-shadow(0px, 0px, 3px, 3px, rgba(204, 255, 51, 0.9));
}
.possible {
  &:hover {
    @extend %hoverable-card;
  }
  @include box-shadow(0px, 0px, 3px, 3px, rgba(52, 152, 218, 0.9));
}
.for-check-available {
  &:hover {
    @extend %hoverable-card;
  }
  @include transform(translate(0px, -10px));
  @include box-shadow(0px, 0px, 5px, 5px, rgba(218, 179, 52, 0.9));
}
.for-check-unavailable {
  @include transform(translate(0px, -10px));
}
.deckPossible {
  &:hover {
    @extend %hoverable-card;
  }
  @include box-shadow(0px, 0px, 3px, 3px, rgba(102, 51, 153, 0.9));
}
.selected {
  bottom: 30px;
}
.flex-container {
  display: flex;
  justify-content: center;
  .deck {
    margin-right: 10rem;
    * {
      position: absolute;
      cursor: pointer;
    }
  }
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.middle {
  transform: translateX(-4.5rem);
}
.buttons {
  text-align: center;
  .btn {
    width: 180px;
    height: 60px;
  }
}
button {
  overflow: auto;
}
.topCard {
  @include box-shadow(0px, 0px, 3px, 3px, rgba(255, 127, 80, 0.9) !important);
  @include transition(0.5s);
  &:hover {
    color: #ff113c;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }
}
#mask {
  display: none;
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: 999;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.center {
  text-align: center;
  vertical-align: middle;
}
.win-box {
  top: 50% !important;
}
.info-icon {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transform: translate(16rem, 3rem);
  width: 50px;
  height: 50px;
}
.player-wait-icon {
  position: absolute;
  transform: translateX(6rem);
}
.icon {
  @include rounded(10px);
  text-align: center;
  position: relative;
  margin: auto;
  width: 30px;
  top: 10%;
}
.red-icon {
  @extend .icon;
  color: #fff;
  background-color: rgba(255, 10, 0, 0.6);
}
.orange-icon {
  @extend .icon;
  background-color: rgba(255, 150, 0, 1);
  border: 1px solid #000;
  color: #000;
  font-weight: bold;
  left: 2px;
  top: 0 !important;
}
.grey-icon {
  @extend .icon;
  background-color: rgba(220, 220, 220, 0.6);
  left: 100%;
}
.blue-icon {
  @extend .icon;
  background-color: rgba(59, 72, 255, 0.6);
  color: #fff;
}
.modal-shown {
  opacity: 0.96;
  transition: all 300ms linear;
  visibility: visible;
}
.modal-hidden {
  opacity: 0;
  transition: all 300ms linear;
  visibility: hidden;
}
.suit-popup {
  @include rounded(3px);
  @include box-shadow(0px, 0px, 20px, 0, #999 !important);
  min-width: 300px;
  background: #333;
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 1.2em;
  position: fixed;
  margin-top: -86px;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  z-index: 99999;
  overflow: hidden;

  span,
  h2,
  h4 {
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    display: block;
    text-align: center;
    padding-bottom: 10px;
  }
}
fieldset {
  border: none;
}
.modal-button {
  @include rounded(5px);
  width: 50px;
  height: 50px;
  border: 1px solid #333;
  cursor: pointer;
  padding: 0;
  margin: 10px 0;
  &:hover {
    background-color: #f7f7f7;
  }
}
.rules-icon {
  @include rounded(5px);
  width: 50px !important;
  height: 50px;
  border: 0;
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
  margin: 10px 15px 10px 10px;
  &:hover {
    background: rgba(0, 0, 0, 0.3);
  }
}
.demand-icons {
  margin: 0 15px;
}
.icon-image {
  width: 40px;
  height: 40px;
  text-align: center;
}
.newWeight {
  color: #999;
  font-size: 15px;
  line-height: 18px;
  display: block;
  text-align: center;
  padding-bottom: 10px;
}
.invisible {
  display: none;
}
#cpuContainer {
  margin-top: 2%;
}
#playerContainer {
  margin-bottom: 2%;
}
.cards {
  transform: translateX(2rem);
}
.cardsInHand {
  margin-left: -95px;
}
.cards-container {
  min-height: 170px;
  margin: 2rem 0;
}

.confetti {
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 100000;
  pointer-events: none;
}

.particles {
  position: fixed;
  top: 0;

  .particle {
    position: absolute;
    transition: all 5s ease-out;
  }
}
.wait-battle-counter {
  background-color: #333;
}

.cards-counter {
  background-color: #333;
}

@media only screen and (max-width: 992px) {
  .score-board {
    margin: 0;
    padding: 0;
    padding-top: 1rem;
  }
  .rules-icon {
    margin: 10px 5px 10px 5px;
  }
  .global-stats {
    margin-right: 4rem;
  }
}

@media only screen and (max-width: 480px) {
  .global-stats {
    display: none;
  }
  .current-stats {
    margin-right: 5rem;
  }
  .cards-container {
    margin: 1rem 0;
  }
}

// @media only screen and (max-width: 480px) {
//   #score {
//     margin: 1.5em 0 0.5em 0;
//   }
// }
